/* universal */
* {
  font-family: "Noto Sans Mono", monospace;
}

body {
    background-color: #fff5ff
}

/* nav bar */
#navbarNav {
  justify-content: end;
}

.navbar-brand {
    justify-content: left;
    align-items: left;
}

/* heading */
#backimg {
  height: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}


/* work cards */
.card {
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  padding: 5px;
  display: inline-flex;
  margin-bottom: 70px;
}

.card:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.7);
}

.btn {
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 0.6;
    transition: 0.3s;
    color: ;
}

.btn:hover {
  opacity: 1;
}

/* ocntact stuuf */


.card-imgside {
    width: 100px;

}