/* universal + body*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-color: pink;
    font-weight: 300;
}

/* header, grey logo assign locations */
header {
    background: grey;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-left: 30px;
    width: 50px;
    border-radius: 25%;
}

/* navigation, location and asetetics */
.nav {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav li {
    float: right;
    display: block;
    color: grey;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin-left: 30px;
}

/* Change the link color to black on hover */
.nav li a:hover {
    color: black;
}

/* hannah hughes header */
h1 {
    text-align: center;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* pfp / bio*/
.pfp {
    width: 200px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

#about p {
    margin-top: 60px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* my work */
h2 {
    text-align: center;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid gray;
    background-color: gray;
    padding: 20px;
}

.sum {
    text-align: center;
    display: block; ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

/* work img */
.web-ex {
    width: 50%;
    border-radius: 5%;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    margin-top: 30px;
    text-align: center;
}
.web-ex:hover{
    opacity: 0.3;
    width: 55%;
}

ul {
    list-style: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
