/* universal */
* {
  font-family: "Noto Sans Mono", monospace;
}

/* nav bar */
#navbarNav {
  justify-content: end;
}

.navbar-brand {
    justify-content: left;
    align-items: left;
}

/* headers */
#about {
  justify-content: center;
  margin-left: 0px;
  padding: 0px;
}

#headTopic {
  justify-content: center;
}

#workbar {
  justify-content: center;
}

/* heading */
#backimg {
  height: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* about me */
#pfp {
  justify-content: left;
  width: 250px;
  height: 300px;
  border: 5px solid #e54bf2;
  border-style: outset;
  margin-top: 50px;
}

.media-body-about {
  margin-left: 50px;
  margin-top: 200px;
}

/* skills */
#skillimg {
  justify-content: left;
  width: 400px;
  height: 250px;
  border: 5px solid #e54bf2;
  border-style: outset;
  margin-top: 100px;
  margin-bottom: 100px;
}

.media-body-skill {
  justify-content: left;
  margin-top: 160px;
}

/* work cards */
.card {
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  padding: 5px;
  display: inline-flex;
  margin-bottom: 70px;
}

.card:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.7);
}

.btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* ocntact stuuf */
.card-imgside {
    width: 200px;

}